.nav-link {
  max-width: 50px;
}

.navbar-margin {
  margin-left: 80px;
}

.navbar-items {
  margin-right: 90px;
}

.dropdown-register {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  text-decoration: none;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */

.navbar .cart {
  position: relative;
  margin-right: 239px;
}

.navbar .cart img {
  position: absolute;
}

.navbar .cart .cart-img2 {
  margin-left: 25px;
}

.navbar .cart .ellipse {
  display: flex;
  align-items: center;
}

.ellipse .ellipse-items {
  position: absolute;
}

.ellipse .count {
  margin-left: 30.5px;
  margin-bottom: 4px;
}

.menu-item {
  color: #f16d7f;
}

.navbar-nav .custom-dropdown-menu {
  position: absolute;
  left: -20px;
}

.main__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main__container .block0 {
  background-color: #f1e4e6;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  gap: 40px;
}

.main__container .block0 .block0-1 {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.main__container .block0 .text-block {
  display: flex;
  align-items: center;
  margin-right: 30px;

  width: 100%;
}

.main__container .block0 .text-block img {
  /* width: 2%; */
}

.main__container .block0 .text-block .text-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__container .block0 h1 {
  font-weight: bold;
  line-height: normal;
  align-items: center;
  margin: 0;
  white-space: nowrap;
  /* font-size: 2vw; */
}

.main__container .block0 span {
  color: #f16d7f;
}

.main__container .block0 h2 {
  max-width: 100%;
  white-space: nowrap;
  /* font-size: 2vw; */
  margin-bottom: 5px;
}

.main__container .block0 .block0-img {
  width: 100%;
}

.main__container .block1 {
  width: 100%;
}

.main__container .block1 .block1-1 {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-left: 100px;
  margin-right: 100px;
}

.main__container .block1 .block1-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.main__container .block1 .block1-1 .nav__deal {
  display: inline-block;
  width: 30%;
}

.main__container .block1 .block1-1 img {
  width: 100%;
  height: auto;
}

.main__container .block1 .block1-2 img {
  width: 100%;
  max-width: 100%;
}

.main__container .block2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.main__container .block2 p {
  /* white-space: nowrap; */
  margin-bottom: 1rem;

}

.main__container .block2 .block2-pics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 30px; */
  padding: 0 100px;
  width: 100%;
}

/* *** *** *** */

.main__container .block2 .block2-pics .image-container {
  position: relative;
  display: inline-block;
  width: calc(33.33% - 20px);
  /* margin: 0 5px; */
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: #dce6f5;
}

.main__container .block2 .block2-pics .image-container .img-original {
  width: 100%;
  background-color: #e9eaef;
}

.main__container .block2 .block2-pics .image-container .img-replacement {
  height: 75%;
  width: 100%;
  object-fit: cover;
}

/* Hide the replacement image by default */
.main__container .block2 .block2-pics .img-replacement {
  display: none;
  position: absolute;
}

.main__container .block2 .image-container:hover .img-replacement {
  display: block;
  opacity: 90%;
  top: 0;
  left: 0;
}

.main__container .block2 .block2-pics .image-container .price {
  color: #f16d7f;
}

.main__container .block2 .block2-pics .image-container .description {
    margin-top: 10px;
    margin-bottom: 1.5rem;
    height: 50px;
    font-size: 0.9vw;
    color: #9f9d9d;
}

.main__container .block2 .block2-pics .image-container .item-description {
  margin-left: 15px;
}

/* *** *** *** */

.main__container .button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 10px 15px;
  border: 1px solid #f26376;
  color: #f26376;
  max-width: 212px;
}

.main__container .button:hover {
  background-color: #f26376;
  color: white;
}

.footer__container .block-1 {
  background-color: #222224;
  width: 100%;
  color: #fbfbfb;
  display: flex;
  justify-content: space-around;
  padding: 30px 50px;
  margin-top: 50px;
  font-size: 14px;
}

.footer__container .footer-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  max-width: 100%;
}

.footer__container .footer-block h3 {
  font-size: 2.5em;
  font-weight: 400;
  margin-top: 15px;
}

.footer__container .footer-block p {
  display: flex;
  justify-content: center;
  font-weight: 100;
  font-size: 1.2em;
  font-weight: 100;
  text-align: center;
  white-space: nowrap;
  max-width: 100%;
}

.footer__container .block-2 {
  background-image: url("../img/Footer_background.svg");
  background-size: cover;
  display: flex;
  justify-content: space-around;
  padding: 90px 0;
}

.footer__container .block-2 .footer-block-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  text-align: center;
}

.footer__container .block-2 .block-2_1 p {
  margin-top: 20px;
}

.footer__container .block-2 .footer-block-2 h5 {
  font-size: 15px;
}

.footer__container .block-2 .footer-block-2 .input-group {
  max-width: 356px;
  margin-top: 20px;
}

.footer__container .block-2 .footer-block-2 .form-control {
  border-radius: 20px;
  background-color: #e1e1e1;
  padding: 10px 15px;
}

.footer__container .block-2 .footer-block-2 .btn {
  border-radius: 20px;
  background-color: #e05c6e;
  color: #fff;
  border: none;
}

.footer__container .block-3 {
  background-color: #222224;

  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  padding-left: 150px;
  padding-right: 80px;
}

.footer__container .block-3 p {
  color: #fff;
  font-size: 10px;
  display: flex;
  align-items: center;
  margin: 0;
}

.footer__container .block-3 img {
  max-width: 100%;
}

/* *** *** *** */

@media (max-width: 1200px) {
  .footer__container .footer-block h3 {
    font-size: 2em;
  }
  .footer__container .footer-block p {
    font-size: 1em;
  }
}

@media (max-width: 1100px) {
  .main__container .block2 .block2-pics {
    padding: 0 100px;
    gap: 10px;
  }
  /* .main__container .block2 .block2-pics .image-container {
    width: 30%;
  } */
  .footer__container .footer-block h3 {
    font-size: 1.5em;
  }
  .footer__container .footer-block p {
    font-size: 0.8em;
  }
}

@media (max-width: 991px) {
  .navbar-nav {
    flex-direction: row;
    gap: 15px;
    max-width: 100%;
  }
  .main__container .block0 .text-block img {
    width: 1.1em;
  }
  .main__container .block1 .block1-1 {
    gap: 10px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .main__container .block1 .block1-2 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .main__container .block2 p {
    font-size: 14px;
  }
  .main__container .block2 .block2-pics {
    padding: 0 10px;
  }
  .footer__container .footer-block p {
    font-size: 0.5em;
  }
}

@media (max-width: 845px) {
  .main__container .block2 .block2-pics {
    gap: 5px;
  }
  .footer__container .footer-block p {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .navbar-items {
    margin-right: 10px;
  }
  .navbar-margin {
    margin-left: 20px;
  }
  .main__container .block2 .block2-pics .image-container {
    width: calc(50% - 5px);
    margin: 0;
  }
  .main__container .block0 .text-block img {
    width: 1em;
  }
  .footer__container .block-1 {
    flex-direction: column;
    align-items: center;
  }
  .footer__container .footer-block {
    margin: 30px 0;
  }
  .footer__container .block-2 {
    flex-direction: column;
    align-items: center;
  }
  .footer__container .block-2 .block-2_2 {
    margin-top: 40px;
  }
  .footer__container .block-3 {
    padding: 20px 30px;
  }
  .footer__container .footer-block h3 {
    font-size: 3em;
  }
  .footer__container .footer-block p {
    font-size: 1.5em;
    font-weight: 100;
  }
  .footer__container .footer-block img {
    width: 30%;
  }
}

@media (max-width: 650px) {
  .main__container .block0 h1,
  h2 {
    font-size: 1.3em;
  }
  .main__container .block0 .text-block img {
    width: 0.9em;
  }
  .main__container .block1 .block1-1 {
    gap: 5px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .main__container .block1 .block1-2 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .main__container .block2 p {
    font-size: 12px;
  }
  .main__container .block2 .block2-pics {
    margin: 10px;
  }
}

@media (max-width: 518px) {
  .main__container .block0 h1,
  h2 {
    font-size: 1.3em;
  }
  .main__container .block0 .text-block img {
    width: 0.8em;
  }
  .main__container .block2 .block2-pics {
    gap: 5px;
  }
  .footer__container .footer-block p {
    font-size: 1em;
  }
  .footer__container .footer-block h3 {
    font-size: 2em;
  }
}

@media (max-width: 390px) {
  .menu-link {
    display: none;
  }
  .navbar-nav .custom-dropdown-menu {
    left: -95px;
  }
  .main__container .block1 .block1-1 {
    gap: 5px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    flex-direction: column;
    align-items: center;
  }
  .main__container .block1 .block1-1 img {
    width: 100%;
  }
  .main__container .block1 .block1-2 {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .main__container .block2 p {
    font-size: 8px;
  }
  .main__container .block2 .block2-pics .image-container {
    width: 100%;
  }
  .main__container .block0 .block0-1 {
    display: none;
  }
  .main__container .block0 h2 {
    margin: 0;
  }
  .main__container .block0 h1 {
    font-size: 14px;
  }
  .main__container .block0 h2 {
    font-size: 12px;
  }
  .main__container .block0 {
    gap: 0;
    justify-content: center;
  }
  .main__container .block0 .text-block img {
    width: 3%;
  }

  .main__container .block0 .text-block {
    margin: 35px 25px;
    justify-content: center;
  }

  .footer__container .block-3 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
  }
}

@media (max-width: 320px) {
  .footer__container .footer-block p {
    font-size: 0.5em;
  }
  .footer__container .footer-block h3 {
    font-size: 0.9em;
  }
  .navbar-margin img {
    width: 70%;
    margin-bottom: 6px;
  }
}

/* input form style */

.my-action {
  margin: 20px 30px;
  max-width: 450px;
}

.my-action .add-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.my-action .add-item #item_type {
  padding-left: 5px;
  margin-left: 30px;
}

.my-action .add-item #is_featured {
  padding-left: 5px;
  margin-left: 21px;
}

.my-action .add-item #price {
  margin-left: 63px;
  max-width: 100px;
}

.my-action .add-item #discount {
  margin-left: 35px;
  max-width: 100px;
}

.my-action .add-item #description {
  margin-left: 18px;
  width: 300px;
}

.my-action .add-item #title {
  margin-left: 68px;
  max-width: 170px;
}

.my-action .action-block {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.my-action .description {
  display: flex;
  justify-content: start;
  gap: 7px;
}

.fa-solid, .fas {
  font-weight: 900;
  align-content: center;  /* custom rule */
}

#input-name {
  margin-left: 30px;
}

#input-email {
  margin-left: 21px;
}

#input-email-2 {
  margin-left: 35px;
}

#input-password {
  margin-left: 7px;
}

#input-age {
  margin-left: 8px;
}

#input-birthdate {
  /* margin-left: 11px; */
}

#input-phone {
  margin-left: 1px;
}

.my-action .submit-button {
  margin-top: 10px;
  border: none;
  padding: 15px 25px;
  border-radius: 10px;
  background: #3a68b8;

  /* transition-duration: 0.3s; */
  transition-timing-function: ease-out;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: all 0.5s; 
}

.my-action .button-2 {
  min-width: 130px;
  max-height: 50px;
  padding: 10px 0px;
}

.my-action .submit-button:hover {
  background: #2f5597;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
}

.my-action .submit-button:active .submit {
  color: #4caf50;
}

.my-action .submit {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

.my-action .action-range {
  justify-content: start;
}

.my-action .action-checkbox {
  justify-content: start;
}

.action-checkbox {
  display: flex;
  align-items: center;
}

.action-checkbox input:checked {
  display: none;
} 

.action-checkbox input:checked + label::before {
  content: "\f14a";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  margin-right: 14px;
}

/* *** *** *** */

.action-checkbox label .checked,
.action-checkbox input[type="checkbox"] {
  display: none;
}

.action-checkbox input[type="checkbox"]:checked ~ .checked {
  display: inline-block;
}

.action-checkbox input[type="checkbox"]:checked ~ .unchecked {
  display: none;
}

/* *** *** *** */

input {
  transition: 0.6s;
}

#input-name:invalid:not(:focus),
#input-email:invalid:not(:focus),
#input-password:invalid:not(:focus),
#input-age:invalid:not(:focus),
#input-birthdate:invalid:not(:focus),
#input-phone:invalid:not(:focus) {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 7px rgba(0, 123, 255, 0.5);
  transform: scale(1.03);

  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2 0.3s both;
}

.input-box {
  border-radius: 4px;
  border-width: .5px;
}

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
/* *** *** *** */

.row {
  padding: 100px 50px;
}

/* Basic styling for the success message */
.toast-message {
  visibility: hidden;
  min-width: 200px;
  background-color: #4caf50;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 15px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
  font-size: 17px;
}

.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}