<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Мой сайт
      {% endblock %}
    </title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/static/css/style.css" />
    
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/fontawesome-free-6.2.1@6.2.1/css/all.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <header class="header__container">
      <nav
        class="navbar navbar-expand-lg bg-body-tertiary"
        data-bs-theme="dark"
      >
        <div class="container-fluid">
          <a class="navbar-brand navbar-margin" href="/">
            <img src="/static/img/Logo.svg" alt="..." />
          </a>

          <div class="navbar-items" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li>
                <a class="nickname">
                  {{ nickname }}
                </a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <span class="navbar-toggler-icon"></span>
                </a>

                <ul class="dropdown-menu custom-dropdown-menu" data-bs-theme="light">
                  <li><a class="dropdown-item fw-bold" href="#">MENU</a></li>
                  <li>
                    <a
                      class="dropdown-item font-weight-bold menu-item fw-bold"
                      href="/category/man#category-title"
                    >
                      MAN
                    </a>

                    <ul class="list-unstyled" style="padding-left: 20px">
                      <li><a class="dropdown-item" href="/category/man/accessories#category-title">Accessories</a></li>
                      <li><a class="dropdown-item" href="/category/man/bags#category-title">Bags</a></li>
                      <li><a class="dropdown-item" href="/category/man/denim#category-title">Denim</a></li>
                      <li><a class="dropdown-item" href="/category/man/tshirts#category-title">T-Shirts</a></li>
                    </ul>
                  </li>

                  <li>
                    <a class="dropdown-item menu-item fw-bold" href="/category/women#category-title"
                    >
                      WOMEN
                    </a>

                    <ul class="list-unstyled" style="padding-left: 20px">
                      <li><a class="dropdown-item" href="/category/women/accessories#category-title">Accessories</a></li>
                      <li><a class="dropdown-item" href="/category/women/jackets_coats#category-title">Jackets & Coats</a></li>
                      <li><a class="dropdown-item" href="/category/women/polos#category-title">Polos</a></li>
                      <li><a class="dropdown-item" href="/category/women/tshirts#category-title">T-Shirts</a></li>
                      <li><a class="dropdown-item" href="/category/women/shirts#category-title">Shirts</a></li>
                    </ul>
                  </li>

                  <li>
                    <a class="dropdown-item menu-item fw-bold" href="/category/kids#category-title">
                      KIDS
                    </a>

                    <ul class="list-unstyled" style="padding-left: 20px">
                      <li><a class="dropdown-item" href="/category/kids/accessories#category-title">Accessories</a></li>
                      <li><a class="dropdown-item" href="/category/kids/jackets_coats#category-title">Jackets & Coats</a></li>
                      <li><a class="dropdown-item" href="/category/kids/polos#category-title">Polos</a></li>
                      <li><a class="dropdown-item" href="/category/kids/tshirts#category-title">T-Shirts</a></li>
                      <li><a class="dropdown-item" href="/category/kids/shirts#category-title">Shirts</a></li>
                      <li><a class="dropdown-item" href="/category/kids/bags#category-title">Bags</a></li>
                    </ul>
                  </li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="/static/img/Forma2.svg" alt="..." />
                </a>

                <ul class="dropdown-menu custom-dropdown-menu" data-bs-theme="light">
                  <li>
                    <a class="dropdown-item fw-semibold" href="/login/">Login</a>
                  </li>
                  <li>
                    <a class="dropdown-item fw-semibold" href="/logout/">Logout</a>
                  </li>
                  <li>
                    <a class="dropdown-item fw-semibold" href="/form/">Register</a>
                  </li>
                </ul>
              </li>

              <li>
                <a class="nav-link menu-link" href="/cart/get/">
                  <div class="cart">
                    <img class="cart-img1" src="/static/img/Forma3.svg" alt="..." />

                    {% if count > 0 %}
                    <div class="ellipse">
                      <img
                        class="ellipse-items cart-img2"
                        src="/static/img/Ellipse.svg"
                        alt="..."
                      />
                      <span class="ellipse-items count"> {{ count }} </span>
                    </div>
                    {% endif %}
                    
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    {% block content %}
    <main class="main__container">
      <div class="block0">
        <div class="block0-1">
          <img class="block0-img" src="/static/img/Layer_57.svg" alt="..." />
        </div>

        <div class="text-block">
          <img src="/static/img/Rectangle.svg" alt="..." />
          <div class="text-items">
            <h1>THE BRAND</h1>
            <h2>OF LUXERIOUS <span>FASHION</span></h2>
          </div>
        </div>
      </div>

      <div class="block1">
        <div class="block1-1">
          <a class="nav__deal" href="#">
            <img class="for__women" src="/static/img/for_women.svg" alt="..." />
          </a>
          <a class="nav__deal" href="#">
            <img class="for__men" src="/static/img/for_men.svg" alt="..." />
          </a>
          <a class="nav__deal" href="#">
            <img class="for__kids" src="/static/img/for_kids.svg" alt="..." />
          </a>
        </div>

        <div class="block1-2">
          <img class="accesories" src="/static/img/ACCESORIES.svg" alt="..." />
        </div>
      </div>

      
      <div class="block2">
        <h2 id="category-title">
          {% if show_all_items %}
            All products
          {% elif item_type %}
            Items for {{ gender }} - {{ item_type | replace("_", " & ") }}
          {% elif gender %}
            Items for {{ gender }}
          {% else %}
            Featured Items
          {% endif %}
        </h2>
        <p>
          {% if show_all_items %}
            Shop for our products
          {% elif item_type %}
            Shop for {{ gender }}'s {{ item_type | replace("_", " & ") }} in this category
          {% elif gender %}
            Shop for {{ gender }}'s items
          {% else %}
            Shop for items based on what we featured in this week
          {% endif %}
        </p>
        <div class="block2-pics">
            {% for item in featured_items %}
            <div class="image-container">
              <a href="/cart/add/?position_id={{ item.id }}">
                <img src="{{ item.picture }}" alt="{{ item.title }}" class="pic img-original" />
                <img src="/static/img/Hover.svg" alt="..." class="img-replacement" />

                <h3 class="item-description">{{ item.title }}</h3>
                <p class="item-description description">{{ item.description }}</p>
                <h2 class="item-description price">{{ item.price }}</h2>
              </a>
            </div>
            {% endfor %}
        </div>

        <!-- Подключаем jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- Подключаем ваш JavaScript-файл -->
        <script src="/static/js/ajax_add_toc_cart.js"></script>
    </div>
    

      <div onclick="handleButtonClick()">
        <a class="button btn btn-outline-danger" href="/all#category-title">Browse All Products</a>
      </div>
    </main>
    {% endblock %}

    <footer class="footer__container">
      <div class="block-1">
        <div class="block-1_1 footer-block">
          <img src="/static/img/Footer_pic1.svg" alt="..." />
          <h3>Free Delivery</h3>
          <p>
            Worldwide delivery on all. Authorit tively morph <br />
            next-generation innov tion with extensive models.
          </p>
        </div>

        <div class="block-1_1 footer-block">
          <img src="/static/img/Footer_pic2.svg" alt="..." />
          <h3>Sales & discounts</h3>
          <p>
            Worldwide delivery on all. Authorit tively morph <br />
            next-generation innov tion with extensive models.
          </p>
        </div>

        <div class="block-1_1 footer-block">
          <img src="/static/img/Footer_pic3.svg" alt="..." />
          <h3>Quality assurance</h3>
          <p>
            Worldwide delivery on all. Authorit tively morph <br />
            next-generation innov tion with extensive models.
          </p>
        </div>
      </div>

      <div class="block-2">
        <div class="block-2_1 footer-block-2">
          <img src="/static/img/Footer_block2_img1.svg" alt="..." />
          <p>
            “Vestibulum quis porttitor dui! Quisque<br />nunc mi, a pulvinar
            purus<br />condimentum“
          </p>
        </div>

        <div class="block-2_2 footer-block-2">
          <h3>SUBSCRIBE</h3>
          <h5>FOR OUR NEWLETTER AND PROMOTION</h5>

          <form action="/subscribe" method="POST" class="input-group mb-3">
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Enter Your Email"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              required
            />
            <button
              class="btn btn-outline-secondary"
              type="submit"
              id="button-addon2"
            >
              Subscribe
            </button>
          </form>
        </div>
      </div>

      <div class="block-3">
        <p>© 2021 Brand All Rights Reserved.</p>
        <img src="/static/img/Footer_block3_img.svg" alt="..." />
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
