{% extends 'index.html' %}

{% block title %}
    Order processing
{% endblock %}

{% block content %}
<h2 class="order">Order processing</h2>

<form id="add-order-form" action="/add-order/" method="post">
    <!-- Delivery Address -->
    <div class="form-group my-action">
        <label class="delivery-address" for="address">Delivery address:</label>
        <input type="text" id="address" name="address" class="form-control" required placeholder="Enter address">
    </div>

    <h3 class="order">Your products:</h3>
    <div class="order-summary my-action">
        {% for item in items %}
            <div class="order-item cart-item">
                <img src="/static/img/featured_items/{{ item.image_filename }}" alt="Изображение отсутствует" class="item-image">
                <div class="item-details">
                    <p><strong>{{ item.title }}</strong></p>
                    <p>Quantity: {{ content[item.id|string] | int }}</p>
                    <p>Price: {{ item.price | round(2) }}</p>
                    {% if item.discount is not none %}
                        <p>Discount: {{ (item.discount * 100) | round(2) }}%</p>
                    {% endif %}
                    <p>Item total: {{ item.item_total }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Total Amount -->
    <div class="total-amount">
        <h3>Total amount: {{ (total_amount or 0.0) | round(2) }}</h3>
    </div>

    <!-- Submit Order Button -->
    <button type="submit" class="pay-btn btn btn-outline-danger add-order-button">Pay</button>
</form>

<!-- Include any necessary JavaScript -->
<script src="/static/js/pay_button.js"></script>
{% endblock %}
